<div id="comment-list">
    <h2>Comments</h2>
    <button hx-get="{% url 'forum:new-comment' post_id %}" hx-swap="outerHTML" hx-target="this" class="post-button">New Comment</button>
    <ul>
        {% for comment in comment_list %}
            <li class="comment-container">
                <p>{{ comment.nickname }}</p>
                <p>{{ comment.post_date }}</p>
                <br/>
                <div class="post-text-container">
                    {{ comment.comment_text | linebreaks }}
                </div>
            </li>
        {% endfor %}
    </ul>
</div>